[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype.git
[submodule "third_party/libdrm"]
	path = third_party/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "third_party/lvgl"]
	path = third_party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third_party/rlottie"]
	path = third_party/rlottie
	url = https://github.com/Samsung/rlottie.git
